---
import BaseLayout from '../layouts/base.astro';
import Project from '../components/Project.astro';
import projects from '../_data/projects.json';
import projects_github from '../_data/projects_github.json';
---

<BaseLayout>
  <h1 class="text-2xl font-bold mb-1">Projects</h1>
  <div class="my-5">
    <ul role="list" class="grid grid-cols-1 gap-y-10">
      {
        projects.map((project) => (
          <Project
            name={project.name}
            description={project.description}
            links={project.links}
          />
        ))
      }
    </ul>
  </div>
  <h2 class="font-bold text-xl my-8">Open Source</h2>
  <div class="my-5">
    <ul role="list" class="grid grid-cols-1 gap-y-10">
      {
        projects_github.map((project) => (
          <Project
            name={project.name}
            description={project.description}
            links={project.links}
          />
        ))
      }
    </ul>
  </div>
</BaseLayout>
