---
import BaseLayout from '../../layouts/base.astro';
import Project from '../../components/Project.astro';
import projects from '../../_data/projects.json';
import projects_github from '../../_data/projects_github.json';

export const prerender = true;
---

<BaseLayout>
  <h1 class="mb-1 text-2xl font-bold">Projects</h1>
  <div class="my-6">
    <ul role="list" class="grid grid-cols-1 gap-y-12">
      {
        projects.map((project) => (
          <Project
            name={project.name}
            description={project.description}
            links={project.links}
          />
        ))
      }
    </ul>
  </div>
  <h2 class="my-8 text-xl font-bold">Open Source</h2>
  <div class="my-6">
    <ul role="list" class="grid grid-cols-1 gap-y-12">
      {
        projects_github.map((project) => (
          <Project
            name={project.name}
            description={project.description}
            links={project.links}
          />
        ))
      }
    </ul>
  </div>
</BaseLayout>
